

@model Admin_pro.Models.Authentification1



@*@{
    Layout = "null";
}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentelella Alela! | </title>
    <!-- Bootstrap -->
    <link href="~/gentelella-master/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/gentelella-master/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/gentelella-master/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/gentelella-master/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/gentelella-master/build/css/custom.min.css" rel="stylesheet">
</head>
<body class="login">



@using (Html.BeginForm("login", "Connexion", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Connexion  :</h1>
                        <table>
                            <tr>
                                <td>  Login  :</td>

                                <td>  @Html.TextBoxFor(a => a.User_Name)</td>
                                <td> @Html.ValidationMessageFor(a => a.User_Name)</td>
                            </tr>


                            <tr>
                                <td> Password : </td>
                                <td> @Html.TextBoxFor(b => b.Password_cle)</td>
                                <td>@Html.ValidationMessageFor(b => b.Password_cle)</td>
                            </tr>
                        @*<tr>

                            <td> Roles   :</td>
                            <td> @Html.TextBoxFor(b=>b.Roles)</td>
                            <td> @Html.ValidationMessageFor(b=>b.Roles) </td>
                        </tr>*@



                            @*<input type="email" class="form-control"  required="required" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>*@
                        </table>   <br /><br /> 
                        
                        <button type="submit" href="~/Connexion/Home" class="btn btn-primary btn-block btn-flat">Connecter</button>  
                    </form>
                </section>
            </div>
            @*<div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>*@
        </div>
    </div>

}</body>
</html>

