

@model Library_And_Education.Models.Ouvrage



    <div id="content" class="site-content shop-content">
   


            <div class="page-title parallax-window" data-parallax="scroll" data-image-src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/shop-title.jpg">

                <div class="container">


                    <h1>Détails Ouvrage</h1>

                    <div class="breadcrumb">

                        <ul>

                            <li><a href="#">Acceuil</a></li>

                            <li><span class="current"> Acheter Ouvrage</span></li>

                        </ul>

                    </div><!-- .breadcrumb -->

                </div><!-- .container -->

            </div><!-- .page-title -->


            <div class="container">

                <div class="row">

                    <main id="main" class="site-main col-md-9">

                        <div class="product-detail row">

                            <div class="images">

                                <div id="p-preview">

                                    <div class="slider">

                                        <div class="item">

                                            @{
                                                var imgUrl = " http://localhost:53211" + Model.Photo;


                                            }

                                            <img src="@imgUrl" style="width: 300px; height:400px" alt="" />
                                   
                                        </div>


                                        <div class="item">



                                            <img src="@imgUrl" style="width: 300px; height:400px" alt="" />
                                      

                                        </div>


                                        <div class="item">


                                            <img src="@imgUrl" style="width: 300px; height:400px" alt="" />


                                        </div>


                                        <div class="item">
                                     

                                            <img src="@imgUrl" style="width: 300px; height:400px" alt="" />
                                         

                                          

                                        </div>

                                    </div><!-- .slider -->

                                </div><!-- #p-preview -->


                                <div id="p-thumbnail">

                                    <div class="slider">

                                        <div class="item">
                                    
                                            <img src="@imgUrl" style="max-width: 100%; border: none; height:auto" alt="" />

                                        </div>


                                        <div class="item">
                                            <img src="@imgUrl" style="max-width: 100%; border: none; height:auto" alt="" />

                                        </div>


                                        <div class="item">
                                            <img src="@imgUrl" style="max-width: 100%; border: none; height:auto" alt="" />

                                        </div>


                                        <div class="item">

                                            <img src="@imgUrl" style="max-width: 100%; border: none; height:auto" alt="" />

                                        </div>

                                    </div><!-- .slider -->

                                </div><!-- #p-thumbnail -->

                            </div><!-- .images -->


                            <div class="summary">

                                <p class="stock in-stock">In stock</p>

                                @*<h1 class="p-title">@mmcc.Ouvrage.titre</h1>*@

                                <div class="p-meta">

                                    @*<span class="p-cat">by <a href="#">@mmcc.Ouvrage.Editeur.nomE @mmcc.Ouvrage.Editeur.prenomE</a></span>*@

                                </div>

                                <div class="p-desc">

<p> @Model.Description</p>
                                </div><!-- .p-desc -->

                                <div class="p-rating">

                                    <div class="star-rating">

                                        <span style="width:80%"></span>

                                    </div>

                                    <span class="review">

                                        <a href="#">2 Reviews</a>

                                    </span>

                                </div>


                                <form class="cart" method="post" enctype="multipart/form-data">

                                    <p class="price">

                                       Prix  : @Model.Prix $ <ins><span class="amount">  </span></ins>

                                    </p>

                                    <br />
                                    <div class="quantity">

                                        <label>Quantite:</label>
                                        <input type="number" value="" autofocus />
                                        @*<input type="text" name="quantity" value="@Model.Quantite" title="Qty" class="number input-text qty text" size="4">*@

                                    </div>


                                    <div class="p-actions clearfix">
                                   @*@{  var url = "http://localhost:53211/Reservation/reserve" + "~/Connexion/login"; }*@
                                        <a class="button rounded primary add-to-cart-button" href="~/Connexion/login" ><i class="fa fa-shopping-bag"></i> Acheter </a>

                                        <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                        <span class="saperator"> | </span>

                                        <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                                    </div>


                                    <div class="product_meta">

                                        <span class="tags">Tags: <a href="#">business</a>, <a href="#">biological</a>, <a href="#">e-book</a></span>

                                        <span class="sku_wrapper">SKU: <span class="sku">B01</span></span>

                                        <div class="single-share">

                                            <span>Share:</span>

                                            <div class="socials">

                                                <ul>

                                                    <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>

                                                    <li><a href="#" target="_blank"><i class="fa fa-twitter-square"></i></a></li>

                                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>

                                                </ul>

                                            </div>

                                        </div>

                                    </div>

                                </form>

                            </div>
                            <!-- .summary -->

                        </div><!-- .product-detail -->


                        <div class="tabs-container">

                            <ul class="tabs">

                                <li><a href="#description">Description  :</a></li>

                                <li><a href="#reviews">Avis  : (2)</a></li>

                            </ul>


                            <div id="description" class="tab-content">


<p> @Model.Description</p>
                            </div><!-- #description -->


                            <div id="reviews" class="tab-content">

                                <div class="ratings-counter">

                                    <div class="avegare">

                                        <div class="star-rating normal">

                                            <span style="width:90%"></span>

                                        </div>

                                        <span>4.5 average based on 2 ratings</span>

                                    </div><!-- .avegare -->


                                    <div class="star-progress">

                                        <div class="star-item star5">

                                            <label>5 Star</label>

                                            <div class="progress">

                                                <div class="progress-bar" style="width:70%">

                                                    <span>7</span>

                                                </div>

                                            </div>

                                        </div><!-- .star5 -->



                                        <div class="star-item star4">

                                            <label>4 Star</label>

                                            <div class="progress">

                                                <div class="progress-bar" style="width:30%">

                                                    <span>3</span>

                                                </div>

                                            </div>

                                        </div><!-- .star4 -->


                                        <div class="star-item star3">

                                            <label>3 Star</label>

                                            <div class="progress">

                                                <div class="progress-bar" style="width:0%">

                                                    <span>0</span>

                                                </div>

                                            </div>

                                        </div><!-- .star3 -->


                                        <div class="star-item star2">

                                            <label>2 Star</label>

                                            <div class="progress">

                                                <div class="progress-bar" style="width:0%">

                                                    <span>0</span>

                                                </div>

                                            </div>

                                        </div><!-- .star2 -->


                                        <div class="star-item star1">

                                            <label>1 Star</label>

                                            <div class="progress">

                                                <div class="progress-bar" style="width:0%">

                                                    <span>0</span>

                                                </div>

                                            </div>

                                        </div><!-- .star1 -->

                                    </div><!-- .star-progress -->

                                </div><!-- .ratings-counter -->


                                <div class="comments-area" id="comments">

                                    <ol class="comment-list">

                                        <li class="comment">

                                            <div class="comment-body">

                                                <div class="comment-avatar">

                                                    <img class="avatar" src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/user1.jpg" alt="">

                                                </div><!-- .comment-avatar -->

                                                <header class="comment-meta">

                                                    <cite class="comment-author"><a href="#">Julia Anna</a></cite>

                                                    <span class="comment-date">- Feb 25, 2016</span>

                                                </header><!-- .comment-meta -->

                                                <div class="comment-content comment">

                                                    <p>Nunc risus ex, tempus quis purus ac, tempor consequat ex. Vivamus sem magna, maximus at est id, maximus aliquet nunc.</p>

                                                </div> <!-- .comment-content -->

                                            </div><!-- .comment-body -->

                                        </li><!-- .comment -->


                                        <li class="comment">

                                            <div class="comment-body">

                                                <div class="comment-avatar">

                                                    <img class="avatar" src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/user2.jpg" alt="">

                                                </div><!-- .comment-avatar -->

                                                <header class="comment-meta">

                                                    <cite class="comment-author"><a href="#">John Doe</a></cite>

                                                    <span class="comment-date">- Feb 22, 2016</span>

                                                </header><!-- .comment-meta -->

                                                <div class="comment-content comment">

                                                    <p>Quisque rhoncus turpis sit amet turpis faucibus, at condimentum ipsum aliquam. Morbi pulvinar lorem vitae magna dapibus ultrices.</p>

                                                </div> <!-- .comment-content -->

                                            </div><!-- .comment-body -->

                                        </li><!-- .comment -->

                                    </ol><!-- .comment-list -->


                                    <div class="comment-respond" id="respond">

                                        <h3 class="comment-reply-title" id="reply-title">Add a review</h3>

                                        <form novalidate="" class="comment-form" id="commentform" method="post" action="#">

                                            <p class="comment-form-rating">

                                                <label>Your Rating:</label>

                                                <span class="comment-rating">

                                                    <a class="one-star" href="#" data-rating="1"></a>

                                                    <a class="two-star" href="#" data-rating="2"></a>

                                                    <a class="three-star" href="#" data-rating="3"></a>

                                                    <a class="four-star" href="#" data-rating="4"></a>

                                                    <a class="five-star" href="#" data-rating="5"></a>

                                                    <input type="hidden" name="comment-rating">

                                                </span><!-- .comment-rating -->

                                            </p>

                                            <p class="comment-form-comment">

                                                <label for="comment">Your Comment:</label>

                                                <textarea id="comment" name="comment" cols="45" rows="2" aria-required="true"></textarea>

                                            </p>

                                            <p class="form-submit">

                                                <label for="submit">Submit</label>

                                                <input name="submit" type="submit" id="submit" class="button medium primary rounded" value="Submit">

                                            </p>

                                        </form>

                                    </div> <!-- #respond -->

                                </div><!-- .comments-area -->

                            </div><!-- #reviews -->

                        </div><!-- .tabs-container -->


                        <div class="related-products">

                            <h2 class="title">Related Products</h2>


                            <div class="products grid row">

                                <div class="slider">

                                    <div class="product">

                                        <div class="p-inner shadow clearfix">

                                            <span class="badge onnew">New</span>

                                            <div class="p-thumb">

                                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product1.jpg" alt=""></a>

                                            </div><!-- .p-thumb -->
                                        

                                            <div class="p-info">

                                                <h3 class="p-title"><a href="~/UNIVERSUM/itcthemes.com/demo/Universum/html/single-product.html">Furiously Happy: A Funny Book About Horrible</a></h3>

                                                <div class="p-meta">

                                                    <span class="p-cat">by <a href="#">Jenny Lawson</a></span>

                                                </div><!-- .p-meta -->



                                                <div class="p-desc">

                                                    <p>In Furiously Happy, #1 New York Times bestselling author Jenny Lawson explores her lifelong battle with mental illness. A hysterical, ridiculous book about crippling depression and anxiety? That sounds like a terrible idea. Donec faucibus quam consectetur, elementum turpis ut, fringilla nisi. Mauris sit amet sollicitudin libero, maximus sollicitudin enim. </p>

                                                </div>

                                                <div class="p-rating">

                                                    <div class="star-rating">

                                                        <span style="width:80%"></span>

                                                    </div>

                                                    <span class="review">

                                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                                    </span>

                                                </div><!-- .p-rating -->


                                                <p class="price">

                                                    <ins><span class="amount">$139</span></ins>

                                                </p>

                                            </div><!-- .p-info -->


                                            <div class="p-actions">

                                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                                <span class="saperator"> | </span>

                                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                                            </div><!-- .p-actions -->

                                        </div><!-- .p-inner -->

                                    </div><!-- .product -->


                                    <div class="product">

                                        <div class="p-inner shadow clearfix">

                                            <div class="p-thumb">

                                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product2.jpg" alt=""></a>

                                            </div><!-- .p-thumb -->


                                            <div class="p-info">

                                                <h3 class="p-title"><a href="single-product.html">The Boiling River: Adventures and Discovery in the Amazon</a></h3>

                                                <div class="p-meta">

                                                    <span class="p-cat">by <a href="#">Andrés Ruzo</a></span>

                                                </div><!-- .p-meta -->



                                                <div class="p-desc">

                                                    <p>In this exciting adventure mixed with amazing scientific discovery, a young, exuberant explorer and geoscientist, journeys deep into the Amazon—where rivers boil and legends come to life. Praesent vitae dui id risus convallis ornare. Proin magna libero, blandit sit amet pulvinar a, volutpat ac quam. Integer rutrum sem at purus tristique, ut accumsan tortor posuere.</p>

                                                </div>

                                                <div class="p-rating">

                                                    <div class="star-rating">

                                                        <span style="width:80%"></span>

                                                    </div>

                                                    <span class="review">

                                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                                    </span>

                                                </div><!-- .p-rating -->


                                                <p class="price">

                                                    <ins><span class="amount">     </span></ins>

                                                </p>

                                            </div><!-- .p-info -->


                                            <div class="p-actions">

                                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                                <span class="saperator"> | </span>

                                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                                            </div><!-- .p-actions -->

                                        </div><!-- .p-inner -->

                                    </div><!-- .product -->


                                    <div class="product">

                                        <div class="p-inner shadow clearfix">

                                            <div class="p-thumb">

                                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product3.jpg" alt=""></a>

                                            </div><!-- .p-thumb -->


                                            <div class="p-info">

                                                <h3 class="p-title"><a href="single-product.html">Big Magic: Creative Living Beyond Fear</a></h3>

                                                <div class="p-meta">

                                                    <span class="p-cat">by <a href="#">Elizabeth Gilbert</a></span>

                                                </div><!-- .p-meta -->



                                                <div class="p-desc">

                                                    <p>Readers of all ages and walks of life have drawn inspiration and empowerment from Elizabeth Gilbert’s books for years. Now this beloved author digs deep into her own generative process to share her wisdom and unique perspective about creativity. With profound empathy and radiant generosity, she offers potent insights into the mysterious nature of inspiration.</p>

                                                </div>

                                                <div class="p-rating">

                                                    <div class="star-rating">

                                                        <span style="width:80%"></span>

                                                    </div>

                                                    <span class="review">

                                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                                    </span>

                                                </div><!-- .p-rating -->


                                                <p class="price">

                                                    <ins><span class="amount">$139</span></ins>

                                                </p>

                                            </div><!-- .p-info -->


                                            <div class="p-actions">

                                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                                <span class="saperator"> | </span>

                                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                                            </div><!-- .p-actions -->

                                        </div><!-- .p-inner -->

                                    </div><!-- .product -->


                                    <div class="product">

                                        <div class="p-inner shadow clearfix">

                                            <div class="p-thumb">

                                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product4.jpg" alt=""></a>

                                            </div><!-- .p-thumb -->


                                            <div class="p-info">

                                                <h3 class="p-title"><a href="single-product.html">TED Book: How We'll Live on Mars</a></h3>

                                                <div class="p-meta">

                                                    <span class="p-cat">by <a href="#">Stephen Petranek</a></span>

                                                </div><!-- .p-meta -->



                                                <div class="p-desc">

                                                    <p>It sounds like science fiction, but award-winning journalist Stephen Petranek considers it fact: Within 20 years, humans will live in Mars. We’ll need to. In this sweeping, provocative book. Donec faucibus quam consectetur, elementum turpis ut, fringilla nisi. Mauris sit amet sollicitudin libero, maximus sollicitudin enim. Duis malesuada rhoncus tortor nec semper. </p>

                                                </div>

                                                <div class="p-rating">

                                                    <div class="star-rating">

                                                        <span style="width:80%"></span>

                                                    </div>

                                                    <span class="review">

                                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                                    </span>

                                                </div><!-- .p-rating -->


                                                <p class="price">

                                                    <ins><span class="amount">$219</span></ins>

                                                </p>

                                            </div><!-- .p-info -->


                                            <div class="p-actions">

                                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                                <span class="saperator"> | </span>

                                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                                            </div><!-- .p-actions -->

                                        </div><!-- .p-inner -->

                                    </div><!-- .product -->


                                    <div class="product">

                                        <div class="p-inner shadow clearfix">

                                            <span class="badge onnew">New</span>

                                            <div class="p-thumb">

                                                <a href="single-product.html"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/product1.jpg" alt=""></a>

                                            </div><!-- .p-thumb -->


                                            <div class="p-info">

                                                <h3 class="p-title"><a href="single-product.html">Furiously Happy: A Funny Book About Horrible</a></h3>

                                                <div class="p-meta">

                                                    <span class="p-cat">by <a href="#">Jenny Lawson</a></span>

                                                </div><!-- .p-meta -->



                                                <div class="p-desc">

                                                    <p>In Furiously Happy, #1 New York Times bestselling author Jenny Lawson explores her lifelong battle with mental illness. A hysterical, ridiculous book about crippling depression and anxiety? That sounds like a terrible idea. Donec faucibus quam consectetur, elementum turpis ut, fringilla nisi. Mauris sit amet sollicitudin libero, maximus sollicitudin enim. </p>

                                                </div>

                                                <div class="p-rating">

                                                    <div class="star-rating">

                                                        <span style="width:80%"></span>

                                                    </div>

                                                    <span class="review">

                                                        <a href="#">2 Review(s)</a> | <a href="#">Add Your Review</a>

                                                    </span>

                                                </div><!-- .p-rating -->


                                                <p class="price">

                                                    <ins><span class="amount">$139</span></ins>

                                                </p>

                                            </div><!-- .p-info -->


                                            <div class="p-actions">

                                                <a class="button rounded primary add-to-cart-button" href="#"><i class="fa fa-shopping-bag"></i> Add to Cart</a>

                                                <a class="compare-button" href="#"><i class="fa fa-retweet"></i> Compare</a>

                                                <span class="saperator"> | </span>

                                                <a class="wishlist-button" href="#"><i class="fa fa-heart"></i> Wishlist</a>

                                            </div><!-- .p-actions -->

                                        </div><!-- .p-inner -->

                                    </div><!-- .product -->

                                </div><!-- .slider -->

                            </div><!-- .products -->

                        </div><!-- .related-products -->

                    </main><!-- .site-main -->

                    <div>
                        <div id="sidebar" class="sidebar col-md-3">

                            <aside class="widget">

                                <h3 class="widget-title">CATÉGORIES DE LIVRES</h3>

                                <ul>

                                    <li><a href="#">Livres d'affaires</a></li>

                                    <li><a href="#">Livres de technologie</a></li>

                                    <li><a href="#">Livres de médecine</a></li>

                                    <li><a href="#">Livres de langue</a></li>

                                    <li><a href="#">Livres biologiques</a></li>

                                    <li><a href="#">Livres d'architecture</a></li>

                                </ul>

                            </aside><!-- .widget -->


                            @*<aside class="widget price-widget">

                                <h3 class="widget-title">FILTRE PAR PRIX</h3>

                                <div class="f-price">

                                    <div id="slider-range"></div>

                                    <button class="button primary rounded" type="button">Filtrer</button>

                                    <span class="amount">Prix: <span id="amount"></span></span>

                                </div>

                            </aside> .widget*@ 


                            <aside class="widget courses-widget">

                                <h3 class="widget-title">COURS POPULAIRES</h3>

                                <div class="courses">

                                    <ul>

                                        <li>

                                            <a class="thumb" href="#"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/course-wd1.jpg" alt=""></a>

                                            <div class="info">

                                                <h4><a href="#">Le secret de gagner de l'argent en démarrant une petite entreprise.</a></h4>

                                                <span><i class="fa fa-users"></i> 2289</span>

                                            </div>

                                        </li>


                                        <li>

                                            <a class="thumb" href="#"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/course-wd2.jpg" alt=""></a>

                                            <div class="info">

                                                <h4><a href="#">Architecture du paysage et urbanisme</a></h4>

                                                <span><i class="fa fa-users"></i> 1762</span>

                                            </div>

                                        </li>


                                        <li>

                                            <a class="thumb" href="#"><img src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/images/placeholder/course-wd3.jpg" alt=""></a>

                                            <div class="info">

                                                <h4><a href="#">Leçon anglais comment écrire un paragraphe (écriture)</a></h4>

                                                <span><i class="fa fa-users"></i> 1226</span>

                                            </div>

                                        </li>

                                    </ul>

                                </div><!-- .widget -->

                            </aside><!-- .widget -->

                        </div><!-- .sidebar -->

                    </div><!-- .row -->

                </div><!-- .container -->

            </div>

    @*}*@
     </div><!-- .site-content -->
    <!-- jQuery -->

    @*<script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/jquery-1.11.3.js"></script>

    <!-- Boostrap -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/bootstrap.min.js"></script>

    <!-- Jquery Parallax -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/parallax.min.js"></script>

    <!-- jQuery UI -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery-ui.min.js"></script>

    <!-- jQuery Sticky -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/jquery.sticky.js"></script>

    <!-- OWL CAROUSEL Slider -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/owl.carousel.js"></script>

    <!-- PrettyPhoto -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Uniaddversum/html/js/vendor/jquery.prettyPhoto.js"></script>

    <!-- Jquery Isotope -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/vendor/isotope.pkgd.min.js"></script>

    <!-- Main -->

    <script src="~/UNIVERSUM/itcthemes.com/demo/Universum/html/js/main.js"></script>


</body>
</html>*@
