s


@model IEnumerable<Admin_pro.Models.Etudiant>




<head>
 
</head>
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Liste Des Etudiant   : </h2>




                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    <li>
                        <!-- Large modal -->
                        <button type="button" class="btn btn-primary BtnMymodalEtudiant" data-toggle="modal" data-url="/Etudiant/Create">Nouveau</button>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>


            <table id="datatable-buttons" class="table table-striped table-bordered">


                <thead>
                    <tr>
                        <th>Numero </th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date Naissance </th>
                        <th>Telephone</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th> Pays</th>
                        <th>Code Postal </th>
                        <th> Action </th>
                    </tr>
                </thead>


                <tbody>

                    @foreach (var it in Model)
                    {
                        <tr>
                            <td>@it.num_etudiant </td>
                            <td>@it.nom</td>
                            <td> @it.prenom</td>
                            <td> @it.date_naissance</td>
                            <td>@it.telephone</td>
                            <td> @it.adresse</td>
                            <td>@it.ville</td>
                            <td> @it.Pays</td>
                            <td>@it.code_postal</td>
                            <td>
                                <button class="btn btn-primary btn-xs BtnMymodalEtudiant" data-toggle="modal" data-url="/Etudiant/Create?num_etudiant=@it.num_etudiant"><i class="fa fa-folder"></i> View </button>
                                <button class="btn btn-info btn-xs BtnMymodalEtudiant" data-toggle="modal" data-url="/Etudiant/Create?num_etudiant=@it.num_etudiant"><i class="fa fa-pencil"></i> Edit </button>
                                <button class="btn btn-danger btn-xs BtnMymodalEtudiant" data-toggle="modal" data-url="/Etudiant/Delete?num_etudiant=@it.num_etudiant"><i class="fa fa-trash-o"></i> Delete </button>
                            </td>

                        </tr>

                    }
                </tbody>




            </table>



        </div>
    </div>
</div>


<span id="Modal_CrudEtudiant">
</span>

<script>
    $('.BtnMymodalEtudiant').click(function () {
        var url = $(this).attr('data-url');
        $('#Modal_CrudEtudiant').html('');
        $.get(url, function (data) {

            $('#Modal_CrudEtudiant').html(data);
            $('#Mymodaleet').modal('show');
        });
    });
</script>





