
@model Admin_pro.ViewModels.OuvrageViewModel

@{
    Layout = null;
}


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="Mymodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">  Ouvrage   :</h4>
            </div>
            
@using (Html.BeginForm("Create", "Ouvrage", FormMethod.Post, new { enctype = "multipart/form-data", id = "demo-form2", @class = "form-horizontal form-label-left" }))
{

                <div class="modal-body">

                    @Html.HiddenFor(x => x.id_ouvrage)
                 
                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Titre  : <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.titre, new { @placeholder = "titre", Type = "varchar", @class = "form-control col-md-7 col-xs-12", @required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Nb Pages  : <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.nb_pages, new { @placeholder = "nb_pages",MaxLengthAttributeAdapter="1000" ,MinLengthAttributeAdapter="10" , Type = "number", @class = "form-control col-md-7 col-xs-12", @required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Quantite  : <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.Quantite, new { @placeholder = "number", MaxLengthAttributeAdapter = "5", MinLengthAttributeAdapter = "1" , Type = "number", @class = "form-control col-md-7 col-xs-12", @required = "required" })
                        </div>

                    </div>

                    <div class="form-group">
                        <labl class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                         Categorie  : <span class="required">*</span>
                        </labl>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("id_type", (SelectList)Admin_pro.Models.BD_Listes.typeouvrage, "Types", new { @class = "form-control" })                        </div>
                    </div>
                    <div class="form-group">
                        <labl class="control-label col-md-3 col-sm-3 col-xs-12" for="editeur">
                         Editeur  : <span class="required">*</span>
                        </labl>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("id_Editeur", (SelectList)Admin_pro.Models.BD_Listes.Dropdown_Editeurs, "Editeur", new { @class = "form-control"})
                        </div>
                    </div>
                  
                    

                    <div class="form-group">
                       <labl class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                           Photo  : <span class="required">*</span>
                        </labl>
                      
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="file" name="file_ouvrage" id="file_ouvrage" required="required" />
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">fermer</button>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>

                        </div>
                    </div>
}
        </div>
    </div>
</div>
@*<script>
document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};</script>*@